@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;   
}

main {
    width: 350px; 
    background-color: white;
    padding: 1rem;    
    border-radius: 5%;
    margin-top: 4rem;
    
}

 img {    
    max-width: 100%;    
    border-radius: 5%;    
}

.text {
    padding-top: 10px;
    padding-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    padding: 1rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 0.9rem;
    color: hsl(220, 15%, 55%);    
    font-weight: 400;
    text-align: center;
}